
@import "../../node_modules/bootstrap/scss/functions";
@import './helper/variables';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import './helper/Dashboard';

.bg-cover{
    background-size: cover;
    background-position: center center;
}
.h-60{
    height: 60%;
}
.w-60{
    width: 60%;
}